{% extends 'servicos/base.html' %}


{% block title %}

    Categoria

{% endblock %}


{% block content %}

    <h2>
        {{ categoria.nome }}
    </h2>


    <h3>
        Profissionais
    </h3>

    <ul>

        {% for profissional in profissionais %}

            <li>

                {{ profissional }}

                <a href="{% url 'detalhe_profissional' profissional.id %}">
                    Detalhar
                </a>

            </li>

        {% empty %}

            <li>
                Nenhum profissional associado a esta categoria.
            </li>

        {% endfor %}

    </ul>


    <h3>
        Serviços disponíveis nesta categoria
    </h3>

    <ul>

        {% for servico in servicos %}

            <li>

                {{ servico.titulo }}

                -

                {{ servico.profissional }}

                -

                R$ {{ servico.preco }}

                <a href="{% url 'detalhe_servico' servico.id %}">
                    Detalhar
                </a>

                |

                <a href="{% url 'criar_solicitacao' %}?servico={{ servico.id }}">
                    Solicitar serviço
                </a>

            </li>

        {% empty %}

            <li>
                Nenhum serviço cadastrado nesta categoria.
            </li>

        {% endfor %}

    </ul>


    <a href="{% url 'editar_categoria' categoria.id %}">
        Editar
    </a>

    |

    <a href="{% url 'deletar_categoria' categoria.id %}">
        Excluir
    </a>

{% endblock %}