{% extends 'servicos/base.html' %}

{% block title %}
    Serviço
{% endblock %}

{% block content %}

    <h2>
        {{ servico.titulo }}
    </h2>

    <p>
        Profissional:
        {{ servico.profissional }}
    </p>

    {% if servico.profissional.foto %}

        <img src="{{ servico.profissional.foto.url }}"
             alt="Foto de {{ servico.profissional.get_full_name }}"
             width="120">

    {% endif %}

    <p>
        <a href="{% url 'detalhe_profissional' servico.profissional.id %}">
            Detalhar profissional
        </a>
    </p>

    <p>
        Categoria:
        {{ servico.categoria }}
    </p>

    <p>
        Descrição:
        {{ servico.descricao }}
    </p>

    <p>
        Preço:
        R$ {{ servico.preco }}
    </p>

    <p>
        Data:
        {{ servico.data_cadastro }}
    </p>

    <a href="{% url 'criar_solicitacao' %}?servico={{ servico.id }}">
        Solicitar serviço
    </a>

    |

    <a href="{% url 'editar_servico' servico.id %}">
        Editar
    </a>

    |

    <a href="{% url 'deletar_servico' servico.id %}">
        Excluir
    </a>

{% endblock %}