{% extends 'interacoes/base.html' %}


{% block title %}

    Solicitações

{% endblock %}


{% block content %}

    <h2>
        Solicitações
    </h2>

    <a href="{% url 'criar_solicitacao' %}">
        Nova solicitação
    </a>

    <ul>

        {% for solicitacao in solicitacoes %}

            <li>
                {{ solicitacao }}

                <a href="{% url 'detalhe_solicitacao' solicitacao.id %}">
                    Detalhar
                </a>
            </li>

        {% empty %}

            <li>
                Nenhuma solicitação cadastrada.
            </li>

        {% endfor %}

    </ul>

{% endblock %}