{% extends 'usuarios/base.html' %}


{% block title %}

    Profissionais

{% endblock %}


{% block content %}

    <h2>
        Profissionais
    </h2>

    <a href="{% url 'criar_profissional' %}">
        Novo profissional
    </a>

    <ul>

        {% for profissional in profissionais %}

            <li>

                {% if profissional.foto %}

                    <img src="{{ profissional.foto.url }}"
                         alt="Foto de {{ profissional.get_full_name }}"
                         width="80">

                {% endif %}

                {{ profissional }}

                <a href="{% url 'detalhe_profissional' profissional.id %}">
                    Detalhar
                </a>

            </li>

        {% empty %}

            <li>
                Nenhum profissional cadastrado.
            </li>

        {% endfor %}

    </ul>

{% endblock %}